@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

.bg {
    background-image: url(../img/b3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: -1;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #F1BC6C;
}

p {
    margin-bottom: 0 !important;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
    text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none !important;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after {
    content: '';
    content: none;
}

q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.slider {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.slider::after {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 60%;
    height: 75%;
    z-index: -1;
}

.circular-slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.circular-slider .wrapper {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    right: -55px;
    top: 40%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 20px 0px 20px;
    overflow: hidden;
}

.circular-slider .wrapper2 {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100% !important;
    color: aliceblue;
}

.descriptions__item2 h1 {
    font-family: 'Courgette';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 100%;
    /* or 60px */
    letter-spacing: 0.12em;
    color: #B96D4A;
    /* Inside auto layout */
}

.descriptions__item2 .desc-head-text {
    font-family: 'Courgette';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 100%;
    /* or 60px */
    letter-spacing: 0.12em;
    color: #DA9C40;
}

.descriptions__item2 h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 141.4%;
    /* identical to box height, or 64px */
    color: #221E1F;
    /* Inside auto layout */
}

.descriptions__item2 p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    /* or 32px */
    color: #221E1F;
    /* Inside auto layout */
}

.descriptions__item2 .desc-btns {
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 150px;
    background-color: #B96D4A;
    border-radius: 50px;
    transition: all .3s ease-in;
    z-index: 5;
}

.descriptions__item2 .desc-btns:hover {
    color: #B96D4A;
    background-color: #fff;
}

.descriptions__item2 .desc-btns2 {
    background-color: #DA9C40;
}

.descriptions__item2 .desc-btns2:hover {
    color: #DA9C40;
    background-color: #fff;
}

.circular-slider .wrapper3 {
    position: absolute;
    left: 0;
    top: 50px;
    box-sizing: border-box;
    width: 100% !important;
}

.circular-slider .wrapper .controls__left,
.circular-slider .wrapper .controls__right {
    position: absolute;
    z-index: 101;
    -webkit-transition: .6s all;
    -o-transition: .6s all;
    transition: .6s all;
}

.circular-slider .wrapper .controls__left i,
.circular-slider .wrapper .controls__right i {
    color: #fff;
    background-color: #B96D4A;
    padding: 5px 10px;
    border-radius: 50%;
    text-align: center;
}

.circular-slider .wrapper .controls__left:hover .icon-wrapper,
.circular-slider .wrapper .controls__right:hover .icon-wrapper,
.circular-slider .wrapper .controls__autoplay:hover .icon-wrapper {
    font-size: 1.7em;
    opacity: 1;
}

.circular-slider .wrapper .controls__left .icon-wrapper,
.circular-slider .wrapper .controls__right .icon-wrapper,
.circular-slider .wrapper .controls__autoplay .icon-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #8EB8E5;
    font-size: 1.5em;
    opacity: .7;
}

.circular-slider .wrapper .controls__left,
.circular-slider .wrapper .controls__right {
    top: 50%;
}

.circular-slider .wrapper .controls__left {
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.circular-slider .wrapper .controls__left:hover {
    left: 0;
}

.circular-slider .wrapper .controls__right {
    right: 0;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

.circular-slider .wrapper .slides-holder {
    border-radius: 50%;
    border: 2px dashed #ffffff;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 100;
}

.descriptions img {
    width: 40%;
}

.circular-slider .wrapper .slides-holder__item {
    border-radius: 50%;
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .3s linear all;
    -o-transition: .3s linear all;
    transition: .3s linear all;
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
}

.circular-slider .wrapper .slides-holder__item img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.circular-slider .wrapper .slides-holder__item_active {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}

.circular-slider .wrapper .descriptions {
    position: absolute;
    bottom: 0%;
    z-index: 0;
}

.circular-slider .wrapper .descriptions__item {
    width: 100%;
    height: 0%;
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: opacity 0s 0s linear;
    -o-transition: opacity 0s 0s linear;
    transition: opacity 0s 0s linear;
}

.circular-slider .wrapper2 .descriptions__item2 {
    width: 100%;
    height: 0%;
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: opacity 0s 0s linear;
    -o-transition: opacity 0s 0s linear;
    transition: opacity 0s 0s linear;
}

.circular-slider .wrapper3 .descriptions__item3 {
    position: absolute;
    top: 350px;
    width: 100%;
    height: 0%;
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: opacity 0s 0s linear;
    -o-transition: opacity 0s 0s linear;
    transition: opacity 0s 0s linear;
}

.circular-slider .wrapper .descriptions__item_visible {
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity .6s 0s linear;
    -o-transition: opacity .6s 0s linear;
    transition: opacity .6s 0s linear;
}

.circular-slider .wrapper2 .descriptions__item_visible2 {
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity .6s 0s linear;
    -o-transition: opacity .6s 0s linear;
    transition: opacity .6s 0s linear;
}

.circular-slider .wrapper3 .descriptions__item_visible3 {
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity .6s 0s linear;
    -o-transition: opacity .6s 0s linear;
    transition: opacity .6s 0s linear;
}

.circular-slider .wrapper .descriptions__item h1,
.circular-slider .wrapper .descriptions__item .description {
    font-family: Helvetica, sans-serif;
    color: white;
    text-align: center;
}

.circular-slider .wrapper .descriptions__item h1 {
    font-size: 200%;
    padding-top: 5px;
}

.circular-slider .wrapper2 .descriptions__item2 .description2 {
    font-size: 100%;
    margin-top: 5px;
    padding: 0% 10%;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow-y: hidden;
}

.circular-slider .wrapper3 .descriptions__item3 .description2 {
    font-size: 100%;
    margin-top: 5px;
    padding: 0% 10%;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow-y: hidden;
}

body {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media (max-width: 2000px) {
    .circular-slider .wrapper2 {
        height: 350px;
    }
    .circular-slider .wrapper {
        top: 0;
    }
    .wrapper {
        width: 360px;
        height: 180px;
    }
    .slides-holder {
        height: 306px;
        width: 306px;
    }
}

@media (max-width: 1500px) {
    .circular-slider .wrapper3 {
        display: none;
    }
    .circular-slider .wrapper {
        right: 1.5px;
    }
    .descriptions img {
        width: 38%;
    }
}


/*nav*/

ul {
    list-style: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    position: relative;
}

nav {
    width: 100%;
    position: fixed;
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 100px;
    /* From https://css.glass */
    background-image: url(../img/b3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-bottom: 1px solid rgba(0, 0, 0, 0.163);
    z-index: 999;
}

nav .nav-items {
    display: flex;
}

nav .nav-items li {
    padding: 0 15px;
}

nav .nav-items li a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.235em;
    text-transform: uppercase;
    color: #221E1F;
    transition: color 0.3s ease-in-out;
    position: relative;
}

nav .nav-items li a::after {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    content: ".";
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: 600;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

nav .nav-items li a.active {
    font-weight: 600;
}

nav .nav-items li a:hover {
    font-weight: 600;
}

nav .nav-items li a:hover::after {
    opacity: 1;
    font-weight: 600;
}

nav .logo a img {
    max-width: 100%;
}

nav form {
    display: flex;
    height: 40px;
    min-width: 18% !important;
    border-radius: 2px;
    padding: 2px;
}

nav form .search-data {
    height: 100%;
    width: 100%;
    padding: 0 10px;
    background: rgba(186, 186, 186, 0.3);
    border: 1px solid #BABABA;
    backdrop-filter: blur(6px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 50px;
    color: #221E1F;
    font-weight: 500;
    outline: 0;
    font-size: 17px;
}

nav form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

nav form input {
    padding-left: 45px !important;
    position: relative;
}

nav form button {
    position: absolute;
    padding: 0 15px;
    border: none;
    cursor: pointer;
    font-size: 17px;
    color: #221E1F66;
    border-radius: 50px;
    background: none;
}

nav .menu-icon,
nav .search-icon,
nav .cancel-icon {
    width: 40px;
    color: #221E1F;
    text-align: center;
    margin: 0 50px;
    font-size: 18px;
    cursor: pointer;
    display: none;
}

nav .menu-icon span,
nav .search-icon,
nav .cancel-icon {
    display: none;
}

@media (max-width: 1415px) {
    nav {
        padding: 0px;
    }
    nav form {
        position: absolute;
        top: 80px;
        right: 57px;
        opacity: 0;
        pointer-events: none;
        transition: top 0.3s ease, opacity 0.1s ease;
        z-index: 99;
    }
    nav form::before {
        position: absolute;
        content: "";
        top: -13px;
        right: 0;
        width: 0;
        height: 0;
        z-index: 1;
        margin: -18px 0 0;
        border: 10px solid transparent;
        border-bottom-color: rgb(255, 255, 255);
    }
    nav form::after {
        position: absolute;
        left: 50%;
        top: 50%;
        content: "";
        height: 60px;
        padding: 2px;
        width: calc(100% + 20px);
        /* From https://css.glass */
        background: rgb(255, 255, 255);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(13px);
        -webkit-backdrop-filter: blur(13px);
        z-index: -1;
        border-radius: 2px;
        transform: translate(-50%, -50%);
        border-radius: 5px;
    }
    nav form.active {
        opacity: 1;
        top: 95px;
        pointer-events: auto;
    }
    nav .nav-items {
        position: fixed;
        z-index: 999;
        top: 70px;
        left: -100%;
        width: 100%;
        height: 100vh;
        /* From https://css.glass */
        background: rgba(52, 38, 38, 0.605);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(18.1px);
        -webkit-backdrop-filter: blur(18.1px);
        display: inline-block;
        padding: 75px 50px 0 50px;
        text-align: center;
        transition: left 0.3s ease;
    }
    nav .nav-items.active {
        left: 0%;
    }
    nav .nav-items li {
        line-height: 40px;
        margin: 30px 0;
    }
    nav .nav-items li a {
        color: #ffff;
        font-size: 25px;
    }
    nav .nav-items li a::after {
        color: #ffff;
        top: 35px;
    }
    nav .logo {
        flex: 2;
        text-align: center;
    }
    nav .menu-icon {
        display: block;
        transition: transform 0.3s ease-in-out;
    }
    nav .menu-icon:hover {
        transform: scale(1.5);
    }
    nav .search-icon,
    nav .cancel-icon {
        transition: transform 0.3s ease-in-out;
    }
    nav .search-icon:hover,
    nav .cancel-icon:hover {
        transform: scale(1.5);
    }
    nav .search-icon,
    nav .menu-icon span {
        display: block;
    }
    nav .search-icon.hide,
    nav .menu-icon span.hide {
        display: none;
    }
    nav .cancel-icon.show {
        display: block;
    }
}

@media (max-width: 500px) {
    nav .menu-icon,
    nav .search-icon,
    nav .cancel-icon {
        margin: 0 10px;
        font-size: 16px;
    }
    nav .logo a {
        font-size: 20px;
    }
    nav form {
        right: 20px;
    }
    .footer-pad h4 {
        margin-top: 10px;
    }
}


/*dropdown*/

.dropdown {
    margin-left: 15px;
}

.dropdown i {
    color: #333333;
}

.dropdown img {
    width: 35px;
    height: 35px;
}

.dropdown .az {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dropdown .az img {
    margin-right: 3px;
}

.dropdown .rus {
    cursor: pointer;
}

.dropbtn {
    cursor: pointer;
    transition: all 0.35s ease-in-out !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 6px;
    transition: all 0.35s ease-in-out !important;
}

.dropdown a:hover {
    background-color: #ddd;
}

.dropdown-content.show {
    display: block;
}

.dropdown-content-2.show {
    display: block;
}

.dropbtn.active {
    transform: rotate(180deg);
}

.dropbtn-2.active {
    transform: rotate(180deg);
}


/*MAIN SECTION*/

main {
    width: 100%;
}

main .menu-box {
    width: 100%;
}

.menu-head-text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.menu-head-text img {
    max-width: 100%;
}

.menu-head-text h1 {
    font-family: 'Dancing Script' !important;
    font-weight: 400;
    font-size: 60px;
    line-height: 193.9%;
    /* or 116px */
    letter-spacing: 0.12em;
    color: #333333;
}

.menu-box-icon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 45px;
}

.menu-box-icon a {
    transition: all .3s ease-in-out;
}

.menu-box-icon a:hover {
    opacity: 0.7;
}

.icons-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.menu-box-icon .icons-item img {
    max-width: 100%;
}

.menu-box-icon .icons-item h5 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
    line-height: 193.9%;
    /* identical to box height, or 39px */
    color: #221E1F;
}


/*menu-card-container*/

.menu-card-container {
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 45px;
}

.img-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-card-container .card-item img {
    max-width: 100%;
    height: auto;
}

.menu-card-container .card-item {
    max-width: 300px;
    height: 420px;
    background: linear-gradient(0deg, rgb(241, 188, 108), rgb(241, 188, 108)), linear-gradient(102.08deg, #000000 -3.43%, rgba(0, 0, 0, 0) 100%);
    border: 1.8633px solid rgb(255, 255, 255);
    border-radius: 14.9064px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all .3s ease;
    opacity: 0.9;
}

.menu-card-container .card-item:hover {
    transform: scale(1.05);
    opacity: 1;
}

.menu-card-container .card-item .card-text {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), linear-gradient(102.08deg, #000000 -3.43%, rgba(0, 0, 0, 0) 100%);
    border: 1.8633px solid rgb(255, 255, 255);
    border-bottom-left-radius: 14.9064px;
    border-bottom-right-radius: 14.9064px;
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.menu-card-container .card-item .card-text hr {
    width: 90%;
    background-color: #ffff;
}


/*xeberler-card-container*/

.xeberler-container {
    margin-top: 80px;
    margin-bottom: 25px;
    width: 100%;
}

.xeberler-card-container {
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.xeberler-card-container .xeber-card-item {
    max-width: 367px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.xeber-card-item:hover img {
    filter: saturate(1);
}

.xeber-card-item img {
    max-width: 367px;
    height: 369.47px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.xeber-card-item .xeber-card-img {
    width: 100%;
    height: 100%;
}

.xeber-card-item img {
    transition: all .3s ease-in-out;
    filter: saturate(0);
    max-width: 100%;
}

.xeber-card-item .xeber-card-text {
    padding: 10px;
}

.xeber-card-text h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 131.5%;
    /* or 26px */
    letter-spacing: 0.18em;
    color: #36697E;
}

.xeber-card-text p {
    font-weight: 500;
    font-size: 14px;
    color: #333333;
}


/*NE UCUN BIZ*/

.why-us-container {
    margin-top: 130px;
    margin-bottom: 25px;
    width: 100%;
}

.whyUs-head-text {
    justify-content: flex-start !important;
}

.why-us-container .why-text h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 131.5%;
    /* or 33px */
    letter-spacing: 0.18em;
    color: #214858;
}

.why-us-container .why-text p {
    font-weight: 500;
}

.why-text .whyUs-btn {
    display: inline-block;
    margin: 15px 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 141.4%;
    /* or 28px */
    color: #FFFFFF;
    padding: 10px 35px;
    background: #B96D4A;
    border-radius: 50px;
    transition: all .3s ease-in-out;
}

.why-text .whyUs-btn:hover {
    color: #B96D4A;
    background: #ffffff;
}


/*footer*/

footer {
    width: 100%;
    background: #fff;
    color: rgba(51, 51, 51, 0.7);
}

footer a {
    color: rgba(51, 51, 51, 0.7);
    font-size: 14px;
    transition-duration: 0.2s;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 132.4%;
    /* identical to box height, or 23px */
    letter-spacing: 0.12em;
}

footer a:hover {
    color: rgb(51, 51, 51);
    text-decoration: none;
}

.copy {
    padding: 10px 0;
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    letter-spacing: 0.335em;
    color: rgba(51, 51, 51, 0.4);
    background-color: #fff;
}

.footer-middle {
    padding-top: 2em;
    color: rgba(51, 51, 51, 0.7);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 132.4%;
    /* or 26px */
    letter-spacing: 0.12em;
}

.footer-pad p {
    margin-top: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 132.4%;
    /* or 24px */
    letter-spacing: 0.12em;
    color: rgba(51, 51, 51, 0.7);
}

.footer-pad .elaqe-text {
    font-size: 13px;
}

.footer-pad .elaqe-text img {
    margin-right: 4.5px;
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}

ul.social-network a {
    background: #F4C482;
}

.social-network a i {
    color: #fff;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
}

.social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
}

.social-circle li a:hover i {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-network a {
    background-color: #F9F9F9;
}

@media (max-width: 1118px) {
    .menu-head-text h1 {
        font-size: 25px;
    }
    .menu-box-icon {
        gap: 45px;
        overflow-x: scroll;
    }
    .menu-box-icon::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: transparent;
    }
    .menu-box-icon::-webkit-scrollbar {
        width: 2px;
        background-color: transparent;
    }
    .menu-box-icon::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #F1BC6C;
    }
    .menu-box-icon .icons-item img {
        max-width: 70%;
    }
    ul.social-network a {
        margin-bottom: 10px;
    }
    #Menu .menu-head-text {
        padding: 45px 0;
    }
}


/*menu-ic-seyfe*/

main {
    width: 100%;
}

#Menu {
    width: 100%;
    margin-top: 70px;
    margin-bottom: 50px;
}

#Menu .menu-head-text {
    padding: 25px 0;
}


/*xeberler*/

#xeber {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 50px;
}

#xeber img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12.783px;
}

#xeber .menu-head-text {
    padding: 25px 0;
}

.xeberBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
}

.xeberBox .box-img {
    max-width: 565.86px;
    height: 569.67px;
    border-radius: 12.783px;
}

.xeberBox a:nth-child(n+1) {
    position: relative;
}

.xeberBox a:nth-child(n+1)::after {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 130px;
    background-color: #000000d0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 38.3489px;
    line-height: 131.5%;
    /* or 50px */
    letter-spacing: 0.18em;
    color: #D5D5D5;
    border-bottom-left-radius: 12.783px;
    border-bottom-right-radius: 12.783px;
    padding: 20px;
}

.xeberBox a:nth-child(1)::after {
    content: "Bəlkə də bu günün şanslısı sizsiniz";
}

.xeberBox a:nth-child(2)::after {
    content: "Bütün isti içkilər 2.00 AZN";
}

.xeberBox a:nth-child(3)::after {
    content: "Ramazan gəldi xoş gəldi";
}

.xeberBox a:nth-child(4)::after {
    content: "Sizə muştuluq var";
}

.xeberBox a:nth-child(5)::after {
    content: "Şahmat turnirinə start verilir";
}

.xeberBox a:nth-child(6)::after {
    content: "Qaliblərlə təbtiklər";
}

@media (max-width: 1200px) {
    .xeberBox a:nth-child(n+1)::after {
        font-size: 25px;
    }
    .icBox-item-1 h2 {
        font-size: 20px;
    }
    .col-xl-8 h1 {
        font-size: 35px !important;
    }
    .col-xl-4 {
        margin-top: 0 !important;
    }
}


/*xeber-ic-sehife*/

#xeber-ic-sehife {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 70px;
}

#xeber-ic-sehife img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

#xeber-ic-sehife .row {
    align-items: center;
    justify-content: center;
}

#xeber-ic-sehife .icbox-img {
    max-width: 664px;
    height: 668.47px;
}

#xeber-ic-sehife .icbox-img img {
    border-radius: 15px;
}

#xeber-ic-sehife .xeber-card-item img {
    max-width: 367px;
    height: 369.47px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.col-xl-8 h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 131.5%;
    /* or 66px */
    letter-spacing: 0.18em;
    color: #36697E;
}

.col-xl-8 .tarix {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 13px;
    /* identical to box height */
    color: #949494;
    padding: 10px 0;
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.col-xl-8 .tarix i {
    color: #949494;
}

.col-xl-8 .icBox-text {
    max-width: 664px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: #000000;
}

.col-xl-4 {
    margin-top: 180px;
}


/*Haqqımızda*/

#Haqqımızda {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 50px;
}

#Haqqımızda img {
    border-radius: 30px;
}

.contenf .haqqimizda-img {
    width: 565px;
    max-width: 100%;
    height: 400px;
    object-fit: cover;
    float: left;
    padding: 0 10px 0 0;
}

.contenf .text-h {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.contenf .haqqimizda-img2 {
    width: 565px;
    max-width: 100%;
    height: 400px;
    object-fit: cover;
    float: right;
    padding: 0 0 0 10px;
}

@media (max-width: 770px) {
    .contenf .haqqimizda-img {
        padding: 0 0 15px 0;
    }
    .contenf .haqqimizda-img2 {
        padding: 0 0 15px 0;
    }
}


/*Karyera*/

#Karyera {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    flex-wrap: wrap;
}

#Karyera .karyera-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    flex-direction: column;
    padding: 45px 0;
    background: rgba(244, 196, 130, 0.8);
}

.karyera-box .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.karyera-box .vakansiya-text {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
    text-align: center;
}

.vk-box-head {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 132.4%;
    /* or 58px */
    letter-spacing: 0.12em;
    color: #333333;
    margin-bottom: 25px;
}

.vakansiya-text i {
    margin-right: 5px;
    color: #333333;
}

.boxs-item h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 132.4%;
    /* identical to box height, or 37px */
    letter-spacing: 0.12em;
    color: #333333;
    text-align: center;
}

.vakansiya-tex p {
    width: 297px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 132.4%;
    /* identical to box height, or 24px */
    letter-spacing: 0.12em;
    color: #333333;
}

#Karyera .basvuru-box {
    flex-basis: 50%;
    padding: 45px 120px;
    background: rgba(185, 109, 74, 0.8);
}

.basvuru-box .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.basvuru-head {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 132.4%;
    /* or 58px */
    text-align: center;
    letter-spacing: 0.12em;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.basvuru-box input {
    margin-bottom: 30px;
}

.basvuru-box label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 132.4%;
    /* identical to box height, or 37px */
    letter-spacing: 0.12em;
    color: #FFFFFF;
}

.file-upload {
    display: flex;
    align-items: center;
}

.file-upload__input {
    display: none;
}

.file-upload__button {
    -webkit-appearance: none;
    background: #F4C482;
    border: none;
    border-radius: 27.6119px;
    outline: none;
    padding: 0.5em 2.5em;
    margin-right: 15px;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12.1493px;
    line-height: 15px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.08em;
    color: rgba(51, 51, 51, 0.53);
    transition: all .3s ease-in-out;
}

.file-upload__button:hover {
    color: #fff;
    background: #49859D
}

.fa-paperclip {
    color: #fff;
    font-size: 1.3em;
    margin-right: 5px;
}

.file-upload__button:active {
    background: #00745d;
}

.file-upload__label {
    max-width: 250px;
    font-size: 0.95em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: "Quicksand", sans-serif;
    color: #fff;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container button {
    background: #F4C482;
    border-radius: 40.0876px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 17.6386px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.08em;
    color: #333333;
    padding: 0.5em 2.5em;
    margin-top: 30px;
    transition: all .3s ease-in;
}

.button-container button:hover {
    color: #fff;
    background: #49859D
}


/*ELAQE*/

#elaqes {
    width: 100%;
    margin-top: 70px;
    position: relative;
}

.container-position::after {
    content: "";
    width: 100%;
    max-width: 100%;
    height: 534.1px;
    background: linear-gradient(90deg, #F1BC6C 35.74%, rgba(241, 188, 108, 0) 50%), url(../img/coffeeMap.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.elaqe-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 250px;
}

.teklif-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-basis: 50%;
    height: 742.28px;
    background: #F4C482;
    border-radius: 40px 0px 0px 0px;
    padding-right: 100px;
    padding-left: 25px;
    padding-top: 35px;
}

.teklif-box label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 19.222px;
    line-height: 132.4%;
    /* or 25px */
    letter-spacing: 0.12em;
    color: #333333;
}

.elaqe-box h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32.5px;
    line-height: 132.4%;
    /* identical to box height, or 53px */
    letter-spacing: 0.12em;
    color: #333333;
}

.elaqe-item h2 {
    color: #ffffff;
}

.teklif-box h2 {
    margin-bottom: 25px;
}

.teklif-box input {
    margin-bottom: 15px;
}

.elaqe-item {
    flex-basis: 50%;
    height: 742.28px;
    background: #B96D4A;
    border-radius: 0px 40px 0px 0px;
    display: flex;
    justify-content: flex-start;
    padding-top: 35px;
}

.elaqe-item .container {
    display: flex;
    gap: 50px;
    flex-direction: column;
}

.elaqe-item .list-unstyled li {
    margin-bottom: 50px;
}

.elaqe-item .list-unstyled li:last-child {
    margin-bottom: 0;
}

.elaqe-item .list-unstyled {
    margin-bottom: 65px;
}

.elaqe-item .list-unstyled li a img {
    margin-right: 10px;
}

.elaqe-item .social-network li a {
    font-size: 29px;
}

.elaqe-item ul.social-network a {
    width: 43px;
    height: 43px;
    background-color: #F4C482;
}

.elaqe-item ul.social-network a i {
    color: #B96D4A;
}

.elaqe-item .list-unstyled li a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 21.6137px;
    line-height: 132.4%;
    /* identical to box height, or 29px */
    letter-spacing: 0.12em;
    color: rgba(255, 255, 255, 0.7);
}

.elaqe-box-btn {
    margin-top: 50px;
    border: none;
    padding: 0.6rem 2.8rem;
    background: rgba(185, 109, 74, 0.81);
    border-radius: 40.0876px;
    color: #fff;
    transition: all .3s ease-in;
}

.elaqe-box-btn:hover {
    background: #49859D;
    color: #fff;
}

@media (max-width: 1308px) {
    #Karyera .karyera-box {
        flex-basis: 100%;
    }
    #Karyera .basvuru-box {
        flex-basis: 100%;
        padding: 45px 0;
    }
    .teklif-box {
        flex-basis: 100%;
        height: 742.28px;
        background: #F4C482;
        border-radius: 0 0 0 0;
        padding-left: 0;
        padding-right: 0;
    }
    .elaqe-item {
        flex-basis: 100%;
        height: 742.28px;
        background: #B96D4A;
        border-radius: 0 0 0 0;
    }
    .elaqe-item .container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        flex-direction: column;
    }
    .elaqe-item ul.list-unstyled {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .elaqe-item .list-unstyled li a {
        font-size: 16px;
    }
    .elaqe-box {
        padding-top: 280px;
    }
    .menu-head-text img {
        width: 50px;
        max-width: 100%;
    }
}