@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
    text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
section {
    display: block;
}

body {
    line-height: 1;
    background-image: url(../img/b3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none !important;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after {
    content: '';
    content: none;
}

q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.slider {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.slider::after {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 60%;
    height: 75%;
    z-index: -1;
}

.circular-slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.circular-slider .wrapper {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    right: -55px;
    top: 40%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 20px 0px 20px;
    overflow: hidden;
}

.circular-slider .wrapper2 {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100% !important;
    color: aliceblue;
}

.descriptions__item2 h1 {
    font-family: 'Courgette';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 100%;
    /* or 60px */
    letter-spacing: 0.12em;
    color: #B96D4A;
    /* Inside auto layout */
}

.descriptions__item2 .desc-head-text {
    font-family: 'Courgette';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 100%;
    /* or 60px */
    letter-spacing: 0.12em;
    color: #DA9C40;
}

.descriptions__item2 h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 141.4%;
    /* identical to box height, or 64px */
    color: #221E1F;
    /* Inside auto layout */
}

.descriptions__item2 p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    /* or 32px */
    color: #221E1F;
    /* Inside auto layout */
}

.descriptions__item2 .desc-btns {
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 150px;
    background-color: #B96D4A;
    border-radius: 50px;
    transition: all .3s ease-in-out;
    z-index: 5;
}

.descriptions__item2 .desc-btns:hover {
    color: #B96D4A;
    background-color: #fff;
}

.descriptions__item2 .desc-btns2 {
    background-color: #DA9C40;
}

.descriptions__item2 .desc-btns2:hover {
    color: #DA9C40;
    background-color: #fff;
}

.circular-slider .wrapper3 {
    position: absolute;
    left: 0;
    top: 50px;
    box-sizing: border-box;
    width: 100% !important;
}

.circular-slider .wrapper .controls__left,
.circular-slider .wrapper .controls__right {
    position: absolute;
    z-index: 101;
    -webkit-transition: .6s all;
    -o-transition: .6s all;
    transition: .6s all;
}

.circular-slider .wrapper .controls__left i,
.circular-slider .wrapper .controls__right i {
    color: #fff;
    background-color: #B96D4A;
    padding: 5px 10px;
    border-radius: 50%;
    text-align: center;
}

.circular-slider .wrapper .controls__left:hover .icon-wrapper,
.circular-slider .wrapper .controls__right:hover .icon-wrapper,
.circular-slider .wrapper .controls__autoplay:hover .icon-wrapper {
    font-size: 1.7em;
    opacity: 1;
}

.circular-slider .wrapper .controls__left .icon-wrapper,
.circular-slider .wrapper .controls__right .icon-wrapper,
.circular-slider .wrapper .controls__autoplay .icon-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #8EB8E5;
    font-size: 1.5em;
    opacity: .7;
}

.circular-slider .wrapper .controls__left,
.circular-slider .wrapper .controls__right {
    top: 50%;
}

.circular-slider .wrapper .controls__left {
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.circular-slider .wrapper .controls__left:hover {
    left: 0;
}

.circular-slider .wrapper .controls__right {
    right: 0;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

.circular-slider .wrapper .controls__autoplay {
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.circular-slider .wrapper .controls__autoplay_running .pause {
    display: block;
}

.circular-slider .wrapper .controls__autoplay_running .run {
    display: none;
}

.circular-slider .wrapper .controls__autoplay_paused .pause {
    display: none;
}

.circular-slider .wrapper .controls__autoplay_paused .run {
    display: block;
}

.circular-slider .wrapper .slides-holder {
    border-radius: 50%;
    border: 2px dashed #ffffff;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 100;
}

.descriptions img {
    width: 40%;
}

.circular-slider .wrapper .slides-holder__item {
    border-radius: 50%;
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .3s linear all;
    -o-transition: .3s linear all;
    transition: .3s linear all;
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
}

.circular-slider .wrapper .slides-holder__item img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.circular-slider .wrapper .slides-holder__item_active {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}

.circular-slider .wrapper .descriptions {
    position: absolute;
    bottom: 0%;
    z-index: 0;
}

.circular-slider .wrapper .descriptions__item {
    width: 100%;
    height: 0%;
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: opacity 0s 0s linear;
    -o-transition: opacity 0s 0s linear;
    transition: opacity 0s 0s linear;
}

.circular-slider .wrapper2 .descriptions__item2 {
    width: 100%;
    height: 0%;
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: opacity 0s 0s linear;
    -o-transition: opacity 0s 0s linear;
    transition: opacity 0s 0s linear;
}

.circular-slider .wrapper3 .descriptions__item3 {
    position: absolute;
    top: 350px;
    width: 100%;
    height: 0%;
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: opacity 0s 0s linear;
    -o-transition: opacity 0s 0s linear;
    transition: opacity 0s 0s linear;
}

.circular-slider .wrapper .descriptions__item_visible {
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity .6s 0s linear;
    -o-transition: opacity .6s 0s linear;
    transition: opacity .6s 0s linear;
}

.circular-slider .wrapper2 .descriptions__item_visible2 {
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity .6s 0s linear;
    -o-transition: opacity .6s 0s linear;
    transition: opacity .6s 0s linear;
}

.circular-slider .wrapper3 .descriptions__item_visible3 {
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity .6s 0s linear;
    -o-transition: opacity .6s 0s linear;
    transition: opacity .6s 0s linear;
}

.circular-slider .wrapper .descriptions__item h1,
.circular-slider .wrapper .descriptions__item .description {
    font-family: Helvetica, sans-serif;
    color: white;
    text-align: center;
}

.circular-slider .wrapper .descriptions__item h1 {
    font-size: 200%;
    padding-top: 5px;
}

.circular-slider .wrapper2 .descriptions__item2 .description2 {
    font-size: 100%;
    margin-top: 5px;
    padding: 0% 10%;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow-y: hidden;
}

.circular-slider .wrapper3 .descriptions__item3 .description2 {
    font-size: 100%;
    margin-top: 5px;
    padding: 0% 10%;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow-y: hidden;
}

body {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media (max-width: 2000px) {
    .circular-slider .wrapper2 {
        height: 350px;
    }
    .circular-slider .wrapper {
        top: 0;
    }
    .wrapper {
        width: 360px;
        height: 180px;
    }
    .slides-holder {
        height: 306px;
        width: 306px;
    }
}

@media (max-width: 1500px) {
    .circular-slider .wrapper3 {
        display: none;
    }
    .circular-slider .wrapper {
        right: 1.5px;
    }
    .descriptions img {
        width: 30%;
    }
}


/*nav*/

ul {
    list-style: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    position: relative;
}

nav {
    width: 100%;
    position: fixed;
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 100px;
    /* From https://css.glass */
    background-image: url(../img/b3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-bottom: 1px solid rgba(0, 0, 0, 0.163);
    z-index: 999;
}

nav .nav-items {
    display: flex;
}

nav .nav-items li {
    padding: 0 15px;
}

nav .nav-items li a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.235em;
    text-transform: uppercase;
    color: #221E1F;
    transition: color 0.3s ease-in-out;
    position: relative;
}

nav .nav-items li a::after {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    content: ".";
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: 600;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

nav .nav-items li a.active {
    font-weight: 600;
}

nav .nav-items li a:hover {
    font-weight: 600;
}

nav .nav-items li a:hover::after {
    opacity: 1;
    font-weight: 600;
}

nav .logo a img {
    max-width: 100%;
}

nav form {
    display: flex;
    height: 40px;
    min-width: 18% !important;
    border-radius: 2px;
    padding: 2px;
}

nav form .search-data {
    height: 100%;
    width: 100%;
    padding: 0 10px;
    background: rgba(186, 186, 186, 0.3);
    border: 1px solid #BABABA;
    backdrop-filter: blur(6px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 50px;
    color: #221E1F;
    font-weight: 500;
    outline: 0;
    font-size: 17px;
}

nav form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

nav form input {
    padding-left: 45px !important;
    position: relative;
}

nav form button {
    position: absolute;
    padding: 0 15px;
    border: none;
    cursor: pointer;
    font-size: 17px;
    color: #fff;
    border-radius: 50px;
    background: none;
}

nav .menu-icon,
nav .search-icon,
nav .cancel-icon {
    width: 40px;
    color: #fff;
    text-align: center;
    margin: 0 50px;
    font-size: 18px;
    cursor: pointer;
    display: none;
}

nav .menu-icon span,
nav .search-icon,
nav .cancel-icon {
    display: none;
}


/*dropdown*/

.dropdown {
    margin-left: 15px;
}

.dropdown i {
    color: #333333;
}

.dropdown img {
    width: 35px;
    height: 35px;
}

.dropdown .az {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dropdown .az img {
    margin-right: 3px;
}

.dropdown .rus {
    cursor: pointer;
}

.dropbtn {
    cursor: pointer;
    transition: all 0.35s ease-in-out !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 6px;
    transition: all 0.35s ease-in-out !important;
}

.dropdown a:hover {
    background-color: #ddd;
}

.dropdown-content.show {
    display: block;
}

.dropdown-content-2.show {
    display: block;
}

.dropbtn.active {
    transform: rotate(180deg);
}

.dropbtn-2.active {
    transform: rotate(180deg);
}

@media (max-width: 1415px) {
    nav {
        padding: 0px;
    }
    nav form {
        position: absolute;
        top: 80px;
        right: 57px;
        opacity: 0;
        pointer-events: none;
        transition: top 0.3s ease, opacity 0.1s ease;
        z-index: 99;
    }
    nav form::before {
        position: absolute;
        content: "";
        top: -13px;
        right: 0;
        width: 0;
        height: 0;
        z-index: 1;
        margin: -18px 0 0;
        border: 10px solid transparent;
        border-bottom-color: rgb(255, 255, 255);
    }
    nav form::after {
        position: absolute;
        left: 50%;
        top: 50%;
        content: "";
        height: 60px;
        padding: 2px;
        width: calc(100% + 20px);
        /* From https://css.glass */
        background: rgb(255, 255, 255);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(13px);
        -webkit-backdrop-filter: blur(13px);
        z-index: -1;
        border-radius: 2px;
        transform: translate(-50%, -50%);
        border-radius: 5px;
    }
    nav form.active {
        opacity: 1;
        top: 95px;
        pointer-events: auto;
    }
    nav .nav-items {
        position: fixed;
        z-index: 999;
        top: 70px;
        left: -100%;
        width: 100%;
        height: 100vh;
        /* From https://css.glass */
        background: rgba(52, 38, 38, 0.605);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(18.1px);
        -webkit-backdrop-filter: blur(18.1px);
        display: inline-block;
        padding: 75px 50px 0 50px;
        text-align: center;
        transition: left 0.3s ease;
    }
    nav .nav-items.active {
        left: 0%;
    }
    nav .nav-items li {
        line-height: 40px;
        margin: 30px 0;
    }
    nav .nav-items li a {
        font-size: 25px;
    }
    nav .nav-items li a::after {
        top: 35px;
    }
    nav .logo {
        flex: 2;
        text-align: center;
    }
    nav .menu-icon {
        display: block;
        transition: transform 0.3s ease-in-out;
    }
    nav .menu-icon:hover {
        transform: scale(1.5);
    }
    nav .search-icon,
    nav .cancel-icon {
        transition: transform 0.3s ease-in-out;
    }
    nav .search-icon:hover,
    nav .cancel-icon:hover {
        transform: scale(1.5);
    }
    nav .search-icon,
    nav .menu-icon span {
        display: block;
    }
    nav .search-icon.hide,
    nav .menu-icon span.hide {
        display: none;
    }
    nav .cancel-icon.show {
        display: block;
    }
}

@media (max-width: 500px) {
    nav .menu-icon,
    nav .search-icon,
    nav .cancel-icon {
        margin: 0 10px;
        font-size: 16px;
    }
    nav .logo a {
        font-size: 20px;
    }
    nav form {
        right: 20px;
    }
    #head .head-container h1 {
        font-size: 35px;
    }
}


/*s-a*/

* {
    box-sizing: border-box;
}

.page {
    padding-top: 5rem;
    overflow: hidden;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.circle-carousel {
    position: relative;
    padding-top: 100%;
}

.circle-carousel .slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.circle-carousel .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
}

.circle-carousel .slide.active {
    z-index: 1;
    opacity: 1;
}

.circle-carousel .pagination {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border: 3px solid white;
    transition-property: transform;
    transition-timing-function: ease-out;
    pointer-events: none;
    user-select: none;
}

.circle-carousel .pagination .dot {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    pointer-events: auto;
    transition: 0.3s;
    background: black;
}

.circle-carousel .pagination .dot:hover {
    transform: translate(-50%, -50%) scale(1.05);
    cursor: pointer;
    background: white;
    color: black;
}

.circle-carousel .pagination .item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.circle-carousel .pagination .item.active .dot {
    background: white;
    color: black;
}

.circle-carousel .next,
.circle-carousel .prev {
    position: absolute;
    bottom: 20%;
    z-index: 1;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    transition: 0.3s;
    user-select: none;
}

.circle-carousel .next:before,
.circle-carousel .prev:before {
    content: "";
    position: absolute;
    top: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-color: transparent black;
    transition: 0.3s;
}

.circle-carousel .next:hover,
.circle-carousel .prev:hover {
    cursor: pointer;
    color: black;
}

.circle-carousel .next:hover:before,
.circle-carousel .prev:hover:before {
    border-color: transparent white;
    transform: translate(-50%, -50%) scale(1.05);
}

.circle-carousel .next {
    right: 5%;
}

.circle-carousel .next:before {
    left: 65%;
    border-width: 30px 0 30px 70px;
}

.circle-carousel .prev {
    left: 5%;
}

.circle-carousel .prev:before {
    left: 35%;
    border-width: 30px 70px 30px 0;
}